{% extends 'base.html.twig' %}

{% block title %}category
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end"><a href="{{path('list_categories')}}">back</a></div>
	<h1 style='text-align:center;'>{{category.name}}</h1>


	<ul style='text-align:left;'>
		{% for post in category.posts %}
			<li>
				<a href="{{path('show_post',{id: post.id})}}" >{{ post.title }} </a> <br> - {{post.dateCreated | date('d/m/Y')}} -
			</li>
		{% endfor %}
	</ul>
{% endblock %}
